<html>
  <head>
    <title>Administration</title>
    <link rel="stylesheet" href="<%= stylesheet_path 'application' %>" media="screen">
    <script src="<%= javascript_path 'application' %>"></script>
  </head>
  <body>
    <section class="main">
      <section class="admin" id="perfumery">
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <p class="title">Administration</p>
              <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                  <a href="#events"><li>Evenements</li></a>
                  <a href="#perfumery"><li>Parfumerie</li></a>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <a class="publish btn btn-warning" href="/admin/compile">Publier</a>
        <section class="perfumery">
          <article class="header">
            <h3>Parfumerie</h3>
          </article>
            <article class="row product">
              <% @news.each do |news| %>
                <div class="span4">
                  <div class="preview">
                    <h6><%= news.category %></h6>
                    <p class="name"><%= news.title %></p>
                    <img src="<%= news.image.url %>" />
                    <p class="description"><%= news.description %></p><br/>
                  </div>
                  <div class="form">
                    <form action="/admin/news/<%= news.id %>" method="post" enctype="multipart/form-data">
                      <p>Categorie :</p>
                      <input id="category" name="new[category]" type="text" value="<%= news.category %>" /><br />
                      <p>Titre :</p>
                      <input id="title" name="new[title]" type="text" value="<%= news.title %>" /><br />
                      <p>Image :</p><span class="info_img">Taille de l'image 250x250 max</span>
                      <input id="image" name="new[image]" type="file" /><br />
                      <p>Description :</p>
                      <textarea id="description" name="new[description]" class="description"><%= news.description %></textarea>
                      <input type="submit" value="Sauver" class="btn btn-success submit" />
                    </form>
                  </div>
                </div>
              <% end %>
          </article>
        </section>

        <div class="doted"></div>

        <section id="events">
          <article class="header">
            <h3>Evenements</h3>
            <button class="new_event btn btn-primary">Nouvel événements</button>
            <form action="/admin/events" method="post" enctype="multipart/form-data" style="display: none;" id="add_event_form" class="event_form">
              <table class="table">
                <th>Date :</th>
                <th>Logo :</th>
                <th>Description :</th>
                <tbody>
                  <tr>
                    <span class="info">Après chaque date, mettre un retour à la ligne</span>
                    <span class="info_logo">Taille du logo 200x80 pixel max</span>
                    <td class="date"><textarea id="date" name="event[date]"></textarea></td>
                    <td class="logo"><input id="logo" name="event[logo]" type="file" /></td>
                    <td class="description"><textarea id="description" name="event[description]" type="text"  class="desciption_input"></textarea></td>
                  </tr>
                </tbody>
              </table>
              <input type="submit" value="Sauver" class="update_button btn btn-success" />
            </form>
          </article>
          <section class="sortable">
            <% @events.each do |event| %>
              <article class="agenda" data-event-id="<%= event.id %>">
                <table class="table action">
                  <tbody>
                    <tr>
                      <td class="date"><%= event.date.lines.map(&:chomp).join('<br />') if event.date.present? %></td>
                      <td class="logo"><img src="<%= event.logo.url %>"/></td>
                      <td class="description"><%= event.description %></td>
                      <td class="edit_cell"><button type="button" class="edit btn btn-small">Editer</button></td>
                      <td class="delete_cell">
                        <form action="/admin/events/<%= event.id %>" method="post" class="delete">
                          <div style="margin:0;padding:0">
                            <input name="_method" type="hidden" value="delete" />
                          </div>
                          <input type="submit" value="Supprimer" class="btn btn-danger btn-small" />
                        </form>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <form action="/admin/events/<%= event.id %>" method="post" enctype="multipart/form-data" style="display: none;" class="edit-form">
                <table class="table">
                  <th>Date :</th>
                  <th>Logo :</th>
                  <th>Description :</th>
                  <tbody>
                    <tr>
                      <span class="info">Après chaque date, mettre un retour à la ligne</span>
                      <span class="info_logo">Taille du logo 200x80 pixel max</span>
                      <td class="date"><textarea id="date" name="event[date]"><%= event.date %></textarea></td>
                      <td class="logo"><input id="logo" name="event[logo]" type="file" /></td>
                      <td class="description"><textarea id="description" name="event[description]" type="text" class="desciption_input"><%= event.description %></textarea></td>
                    </tr>
                  </tbody>
                </table>
                <input type="submit" value="Sauver" class="update_button btn btn-success" />
                </form>
              </article>
            <% end %>
          </section>
        </section>

      </section>
    </section>
  </body>
</html>

